@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuração de Impressão "Nuclear" */
@media print {
    @page {
        size: landscape; /* Força orientação paisagem */
        margin: 5mm;     /* Margem mínima para caber mais coisa */
    }

    * {
        background-color: white;
    }

    body {
        -webkit-print-color-adjust: exact; /* Garante que cores de fundo (zebra) saiam na impressão */
        print-color-adjust: exact;
        background-color: white;
    }

    /* Esconde elementos inúteis na impressão */
    .no-print {
        display: none !important;
    }
}